.env
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Dados gerados pelas execuções
data/landing/*
data/bronze/*
data/silver/*
data/gold/*

# Mantém as pastas no Git
!data/landing/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

*.duckdb
*.db
