__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.idea/
.vscode/
.DS_Store

data/bronze/**
!data/bronze/.gitkeep
data/quarantine/**
!data/quarantine/.gitkeep
data/*.duckdb
data/*.duckdb.wal
logs/**
!logs/.gitkeep
